<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Clients Table
      </div>
      <br>
      <div class="col-sm-2" align="right" >
         <a href="/Client" class="btn btn-block btn-success">Client Ekle</a>
      </div>

      <div class="card-body">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class='table-responsive mat-elevation-z8'>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Client ID </th>
            <td mat-cell *matCellDef="let clients"> {{clients.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Client İsmi </th>
            <td mat-cell *matCellDef="let clients"> {{clients.name}} </td>
          </ng-container>

          <ng-container matColumnDef="responsible_person">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sorumlu Kişi </th>
            <td mat-cell *matCellDef="let client"> {{client.responsible_person}} </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Adres </th>
            <td mat-cell *matCellDef="let client"> {{client.address}} </td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefon Numarası </th>
            <td mat-cell *matCellDef="let client"> {{client.phone}} </td>
          </ng-container>

          <ng-container matColumnDef="tax_office">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vergi Dairesi </th>
            <td mat-cell *matCellDef="let client"> {{client.tax_office}} </td>
          </ng-container>

          <ng-container matColumnDef="tax_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vergi Numarası </th>
            <td mat-cell *matCellDef="let client"> {{client.tax_number}} </td>
          </ng-container>

          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Güncelle </th>
            <td mat-cell *matCellDef="let client"><button type="submit" class="btn btn-block btn-ghost-warning" *ngIf="selectedClient.id != -1" (click)="updateClient(client.id)"><strong>Güncelle</strong></button></td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Sil </th>
            <td mat-cell *matCellDef="let client; let element"><button type="reset" class="btn btn-block btn-ghost-danger" *ngIf="selectedClient.id != -1" (click)="deleteClient(client.id, element)"><strong>Sil</strong></button></td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
