<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="row">
  <div class="col-lg-12">

    <div class="card" id="Update" *ngIf="!hide">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> <strong>Yem Tüketim Güncelleme Tablosu</strong>
      </div>
      <div class="card-body">
        <div class="form-group">
          <mat-form-field class="form-container">
            <input matInput type="date" [(ngModel)]="selectedConsumptions.date" placeholder="Yem Tüketim Giriş Tarihi Seçiniz"  >
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="form-container">
            <mat-label>Şirket Seçiniz</mat-label>
            <mat-select [(ngModel)]="selectedConsumptions.company">
              <mat-option *ngFor="let company of companies" [value]="company.id">{{company.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="form-container">
            <mat-label>Barch Seçiniz</mat-label>
            <mat-select [(ngModel)]="selectedConsumptions.unit">
              <div *ngFor="let unit of units"><mat-option  [value]="unit.id">{{unit.name}}</mat-option></div>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="form-container">
            <mat-label>Kafes Seçiniz</mat-label>
            <mat-select [(ngModel)]="selectedConsumptions.tank">
              <div *ngFor="let tank of tanks"><mat-option *ngIf="(selectedConsumptions.unit == tank.unit)" [value]="tank.id">{{tank.name}}</mat-option></div>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="form-container">
            <mat-label>Balık Türü Seçiniz</mat-label>
            <mat-select [(ngModel)]="selectedConsumptions.fishoperation"><ng-container *ngFor="let fishoperation of fishoperations"><ng-container *ngIf="selectedConsumptions.fishoperation == fishoperation.id">
              <div *ngFor="let fishtype of fishtypes"> <mat-option *ngIf="(fishoperation.fish_type == fishtype.id)" [value]="fishtype.id">{{fishtype.name}}</mat-option></div></ng-container></ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="form-container">
            <input matInput placeholder="Yem Tüketim Miktarı Giriniz" type="number" id="1"
                   [(ngModel)]="selectedConsumptions.quantity">
          </mat-form-field>
        </div>


        <div class="row">
          <div class="form-group  col-sm-6">
            <button type="button" class="btn btn-block btn-warning" id="tank_update"
                    *ngIf="selectedTank.id != -1"
                    (click)="updateConsumptions()"><strong>Güncelle</strong></button>
          </div>
          <div class="form-group  col-sm-6">
            <button type="button" class="btn btn-block btn-danger" id="gizle"
                    *ngIf="selectedConsumptions.id != -1"
                    (click)="hide =!hide"><strong>Kapat</strong></button>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Yem Tüketim
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2" align="right" >
            <a href="/IncomingFeed_Create" class="btn btn-block btn-success">Yem Tüketim Bilgisi Ekle</a>
          </div>
          <mat-form-field class="form-group col-md-8">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          <div class="form-group col-md-2">
            <button type="button" class="btn btn-block btn-danger" id="yenile"
                    *ngIf="selectedConsumptions.id != -1"
                    (click)="refreshtable()"><strong>Tabloyu Yenile</strong></button>
          </div>
        </div>
        <div class='table-responsive mat-elevation-z8'>
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Yem ID </th>
              <td mat-cell *matCellDef="let consumption"> {{consumption.id}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Yem Tüketim Tarihi </th>
              <td mat-cell *matCellDef="let consumption"> {{consumption.date}} </td>
            </ng-container>

            <ng-container matColumnDef="company">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Şirket İsmi </th>
              <td mat-cell *matCellDef="let consumption"> <span *ngFor="let company of companies">
                <tr *ngIf="(consumption.company == company.id)">{{company.name}}</tr>
              </span> </td>
            </ng-container>

            <ng-container matColumnDef="unit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tesis İsmi </th>
              <td mat-cell *matCellDef="let consumption"> <span *ngFor="let unit of units">
                <tr *ngIf="(consumption.unit == unit.id)">{{unit.name}}</tr>
              </span> </td>
            </ng-container>

            <ng-container matColumnDef="tank">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tank </th>
              <td mat-cell *matCellDef="let consumption"> <span *ngFor="let tank of tanks">
                <tr *ngIf="(consumption.tank == tank.id)">{{tank.name}}</tr>
              </span> </td>
            </ng-container>

            <ng-container matColumnDef="stock">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Adı </th>
              <td mat-cell *matCellDef="let consumption"> <span *ngFor="let stock of stocks">
                <tr *ngIf="(consumption.stock == stock.id)">{{stock.name}}</tr>
              </span> </td>
            </ng-container>

            <ng-container matColumnDef="batch">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch Adı </th>
              <td mat-cell *matCellDef="let consumption"> <span *ngFor="let batch of batches">
                <tr *ngIf="(consumption.batch == batch.id)">{{batch.name}}</tr>
              </span> </td>
            </ng-container>

            <ng-container matColumnDef="fish">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Balık Türü </th>
              <td mat-cell *matCellDef="let consumption"> {{consumption.fish}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tüketim Miktarı</th>
              <td mat-cell *matCellDef="let consumption"> <strong> {{consumption.quantity}} </strong>  </td>
            </ng-container>

            <ng-container matColumnDef="metric">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Birimi</th>
              <td mat-cell *matCellDef="let consumption"> <span *ngFor="let metric of metrics">
                <tr *ngIf="(consumption.metric == metric.id)">{{metric.name}}</tr>
              </span> </td>
            </ng-container>


            <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Güncelle </th>
              <td mat-cell *matCellDef="let consumption"><button type="submit" class="btn btn-block btn-ghost-warning" *ngIf="selectedConsumptions.id != -1" (click)="updateFunc(consumption)"><strong>Güncelle</strong></button></td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Sil </th>
              <td mat-cell *matCellDef="let consumption; let element"><button type="reset" class="btn btn-block btn-ghost-danger" *ngIf="selectedConsumptions.id != -1" (click)="deleteConsumptions(consumption.id, element)"><strong>Sil</strong></button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>

  </div>
  <!--/.col-->
</div>
