.mat-row:nth-child(odd) {
  background: #eee;
}
.mat-row.mat-row.ng-star-inserted {
  border: 0;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container > * {
  width: 100%;
}
